h2{
    font-family: 'Oswald', sans-serif;
    font: 400;
}
h3{
    font-family: 'Oswald', sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.primer{
    width: 60%;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
}
.lado{
    display: flex;
    margin-bottom: 25px;
}
.contenedor{
    width: 80%;
    margin: 0 auto;
}
.texto{
    width: 70%;
}
.logo{
    width: 30%;
    font-size: 10rem;
    text-align: center;
    padding-top: 6%;
}
section{
    background-color: #353535;
}
.cont2{
    text-align: center;
    color: white;
    padding-bottom: 60px;
}
.cont2 ul{
    list-style: none;
}
.cont2 ul li{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.cont2 li:before {    
    font-family: 'FontAwesome';
    content: '\f00c';
    color: #fe4918;
    margin:0 5px 0 -15px;
}
.ult{
    text-align: center;
}

.ult h2{
    margin-top: 100px;
    margin-bottom: 100px;
}
.vent{
    display: flex;
    margin: 50px;
}
.contenidos{
    width: 33%;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
}
.contenidos i{
    font-size: 10rem;
    padding-bottom: 30px;
    color: #fe4918;
}
.boton{ 
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;

}

.boton input{
    width:150px;
    height: 40px;
    background-color: #fe4918;
    color: white;
    border: #fe4918;
    border-radius: 5px;
}
.boton input:hover{
    background-color: #353535;
    transition: ease 0.5s all;
}