@charset "utf-8";
 

/*-----------------------*/


.padre
{
	display: flex;
	flex-flow: column nowrap;
    margin-bottom: 50px;
}

p
{
	font-size: 20px;
}


/*Header*/

.header
{
	display: flex;
	flex-flow: column nowrap;
	background: url( "../recursos/img/Programacion.jpg");
	background-attachment: contain;
	background-position: center;
	background-size: cover;
	height: 50vh;	
}

nav.redes-sociales
{
	margin-top: 5%;
	text-align: center;
}

nav.redes-sociales a
{
	color: #fff;
	font-size: 2.5em;
	margin-right: 30px;
}


nav.redes-sociales a:last-child
{
	margin-right: 0;
}

h2
{
	width: 25%;
	text-align: left;
	color: #fff;
	padding: 10px;
	font-size: 2em;
	margin-top: 100px;
}

.main h2::after
{
	content: '';
	margin: 0 auto;
	background-image: url("../recursos/img/separador.png");
	height: 30px;
	width: 100px;
	display: block;
}
/*----------------------Barra de navegacion-------------------*/
 
.fixed
{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 2;
}
.tituloPrincipal h1{
	font-family:'Reboto', sans-serif;
}
.tituloPrincipal
{
	width: 43%;
	font-size: 14px;
	color: #fff;
	padding-left: 10px;
    padding-top: 10px;
}

.menu
{
	display: flex;
	background-color: #353535;
}

.logo
{
	flex: 1 1 auto;
	padding:  0px 0px 0px 50px;
    width: 7%;
    border-right: solid 30px #fe4918;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo img
{
	width: 70%;
	padding-left: 0;
	background-color: #353535;
}


.nav
{
	flex: 3 1 auto;	
	display: flex;
	text-align: right;
    font-family: 'Oswald',sans-serif;
    width: 50%;
}

.nav a
{
 
	color: #fff;
	font-size: 1.4em;
	text-transform: uppercase;
	text-decoration: none;
	transition: all .3s ease;
	display: block;
	text-align: center;
	margin-top: 14px;
	padding-top: 14px;
	width: 120px;
	height: 44px;
	margin-right: 20px;
}

.nav a:hover
{
	background-color: #fe4918;
}

.nav a:last-child
{
	border: 2px solid #fe4918;
}

/*Footer*/

.footer
{
	background-color: #353535;
	margin-top: 50px;
	width: 100%;
}

.footer i
{
	color: white;
}

.footer .contenedor 
{
	display: flex;
	flex-flow: row nowrap;
	width: 90%;
	margin: 0 auto;
}

.footer h3 span
{
	color: #fe4819;
}


.footer  h3
{
	text-transform: uppercase;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 40px;
	color: white;
}

.footer p
{
	width: 60%;
	text-align: justify;
	margin: 0 auto;
	color: white;
	font-size: 15px;
}
.footer li
{
	color: white;
	margin-bottom: 30px;
	text-align: left;
}

.footer a 
{
	font-size: 1.2em;
	margin-right: 5px;
}

.footer ul
{
	margin-left: 15%;
}

.footer .footer-informacion, .footer .contactenos , .footer .redes
{
	flex: 1 1 20%; 
	padding: 20px;
}

/*	main 	*/

h2{
    font-family: 'Oswald', sans-serif;
    font: 400;
}
h3{
    font-family: 'Oswald', sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.main .textoPrincipal
{
	flex:  1 1 100%;
	width: 60%;
	color: #000;
	text-align: center;
	margin: 0 auto;
	padding: 40px;
}

.textoPrincipal p{
	font-size: 1.5em;	
}

.contenedor-oscuro
{
	background-color: #353535;
	height: 350px;
	padding: 40px;
	color: white;
}



.contenedor-oscuro h3
{
	padding: 20px;
	text-align: center;
	font-size: 1.5em;	
}

.contenedor-oscuro p
{
	text-align: center;
	width: 70%;
	margin: 0 auto;
	padding: 10px;
	margin-bottom: 20px;
}

.cont2 li:before {    
    font-family: 'FontAwesome';
    content: '\f00c';
    color: #fe4918;
    margin:0 5px 0 -15px;
}
 
.contenedor-oscuro .listas
{
	display: flex;
	width: 70%;
	margin: 0 auto;
}


.caja1
{
	flex: 1 1 70%;
}

.caja1 li
{
	width: 70%;
}

.caja2
{
	flex: 1 1 30%;
}
 
.caja2 li
{
	margin-bottom: 10px;
}
/*bloque ante penultimo*/
div.contenedor
{
	width: 90%;
	margin:  0 auto;
	text-align: center;
}

div.contenedor p
{
	width: 70%;
	margin: 0 auto;
}


.tituloContenedor
{
	text-transform: uppercase;
	color: #000;	
	font-size: 1.5em;
	padding: 20px;
	margin-top: 100px;
	margin-bottom: 60px;
}

.fondo  
{
	font-size: 8em;
	color: #fe4918;
}

.contenidoSection
{
	display: flex;
	margin-bottom: 100px;
}

.contenidoSection1
{
	display: flex;
}

.caja 
{
	margin-top: 20px;
}

.btnContactenos
{
	background-color: #fe4918 ;
	border-style: none;
	color: white;
	height: 50px;
	width: 150px;
	cursor: pointer;
	margin-bottom: 80px;
}

.btnContactenos:hover
{
	 background-color: #353535;
    transition: ease 0.5s all;
}

/*Servicios*/

.contenidoSection2
{
	display: flex;
}

  .cajaS2
{
	flex: 1 1 50%;
}

  .cajaS2_1
{
	flex: 1 1 50%;
}

.contenedor .contenidoSection1 h3, .contenedor .contenidoSection2 h3
{
	color: #fe4918; 
	text-align: left;
	padding-left: 10px;
}

.contenedor .contenidoSection1 a, .contenedor .contenidoSection2 a
{
	margin-right: 10px;
	font-size: 1.7em;
}

.contenidoCaja
{
	text-align: justify;
	padding-right: 5%;
}


.contenidoCaja input[type="button"]
{
	margin-top: 10px;
	float: right;
	margin-right: 10%;
}


div.contenedor1
{
	width: 80%;
	margin:  0 auto;
	text-align: center;
}


div.contenedor h2
{
	margin: 0 auto;
}
/*      */



.contenedor1 .cajaS2_
{
	display: flex;
	margin-bottom: 10%;
}

.contenedor1 .cajaS2_1_
{
	display: flex;
}



.contenedor1 .cajaS2_ .pregunta
{
	flex: 1 1 50%;
	padding-top: 40px;
	font-size: 8em;
}

.cajaS2_1_ .pregunta
{
	flex: 1 1 50%;
	padding-top: 40px;
	font-size: 8em;
	margin-right: 30px;
}

 .cajaS2_ .definicion h3
{
	text-align: left;
	margin-bottom: 5%;
	font-size: 2em;
}

.cajaS2_1_ .definicion h3
{
	margin-bottom: 5%;
	text-align: left;
	font-size: 2em;
}

.cajaS2_ .definicion p
{
	text-align: justify;
	width: 80%;
}

.cajaS2_1_ .definicion p
{
	text-align: justify;
	width: 80%;
}




















